DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Asia/Phnom_Penh
DB_ENGINE=mysql
DB_NAME=pos_ingheng
DB_USER=root
DB_PASSWORD=root
DB_HOST=db
DB_PORT=3306
POS_TAX_RATE=0.00
POS_LOW_STOCK_DEFAULT=10
POS_CURRENCY_SYMBOL=₱
